* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/formulario-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10%;
    width: 40vw;
    max-height: 80vh;
    gap: 25px;
    background-color: white opacity 0.5;
    backdrop-filter: blur(10px);
}

form h2 {
    font-size: 3.0em;
    text-align: center;
    margin: 2% 0;
    font-weight: bold;
}

form .info {
    position: relative;
    display: flex;
    flex-direction: column;
}

form .info label {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    transition: 0.5s;
    pointer-events: none;
    font-size: 2.2em;
}

form .info input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 2.0em;
    background-color: transparent;
}

form a {
    color: black;
    text-decoration: none;
}

form .info a {
    text-decoration: underline;
}

input:focus ~ label, input:valid ~ label, input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 1.2em;
    opacity: 0.7;
}

.submit {
    display: flex;
    justify-content: space-between;
}

.submit button {
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #C1282E;
    color: white;
    font-size: 1.2em;
}

form:invalid .submit button {
    pointer-events: none;
    background-color: gray;
}

.info a {
    margin: 10px 0 0 0;
}